*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(145deg,#1b2a6d,#38184c);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    position: relative;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(209, 209, 255);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.todoList {
    width: 90%;
    max-width: 540px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    /* background: rgb(147, 147, 147);
    border-radius: 10px; */
    padding: 17px;
    position: absolute;
    bottom: auto; 
}

.todoList #clearAll{
    cursor: pointer;
}

#list-container{
    margin: 10px;
}

input[type="text"]{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
input[type="button"]{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(255, 0, 64);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition: .2s ease-in;
}
#button:hover{
    border: none;
    padding: 16px 50px;
    background: rgb(26, 12, 104);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#clearAll:hover{
    background-color: rgb(177, 204, 228);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size:cover ;
    background-position: center;
    top:12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    transition: .2s ease-in;
    text-decoration: line-through;
}

ul li.checked::before{
    transition: .2s ease-in;
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top:5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #4d4b4b;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
ul li span:hover{
    background: #ababab;
}

